In [1]:
#import necessary libaries

import pandas as pd 
import numpy as np

In [2]:
#load data into a pd data frame

data = pd.read_csv('crime_data_Proj1.csv')
data

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,6407111,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,...,10.0,46.0,14,1196638.0,1848800.0,2008,02/28/2018 03:56:25 PM,41.739980,-87.555120,"(41.739979622, -87.555120042)"
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,...,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
2,2,5488785,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,...,39.0,12.0,05,1146911.0,1941022.0,2007,02/28/2018 03:56:25 PM,41.994138,-87.734959,"(41.994137622, -87.734959049)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,...,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,...,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278721,2278721,10716043,HZ474139,10/14/2016 02:35:00 PM,006XX N CLARK ST,0560,ASSAULT,SIMPLE,CONVENIENCE STORE,True,...,42.0,8.0,08A,1175423.0,1904617.0,2016,02/10/2018 03:50:01 PM,41.893647,-87.631177,"(41.893646656, -87.631177143)"
2278722,2278722,1740109,G546340,09/11/2001 10:20:00 PM,052XX W LAKE ST,0460,BATTERY,SIMPLE,RESIDENCE,False,...,NaN,NaN,08B,1141137.0,1902008.0,2001,08/17/2015 03:03:40 PM,41.887188,-87.757163,"(41.887188151, -87.757163155)"
2278723,2278723,4737434,HM342705,05/10/2006 07:49:00 PM,007XX E OAKWOOD BLVD,0560,ASSAULT,SIMPLE,APARTMENT,False,...,4.0,38.0,08A,1181989.0,1878827.0,2006,02/28/2018 03:56:25 PM,41.822727,-87.607863,"(41.82272748, -87.607863136)"
2278724,2278724,11122832,JA476827,10/18/2017 10:30:00 PM,002XX W ERIE ST,1360,CRIMINAL TRESPASS,TO VEHICLE,PARKING LOT/GARAGE(NON.RESID.),False,...,42.0,8.0,26,1174469.0,1904732.0,2017,02/10/2018 03:50:01 PM,41.893984,-87.634677,"(41.893983593, -87.634677382)"
2278725,2278725,3409804,HK420105,06/09/2004 08:19:28 PM,016XX N ROCKWELL ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,...,1.0,24.0,18,1158782.0,1910845.0,2004,02/28/2018 03:56:25 PM,41.911094,-87.692123,"(41.91109424, -87.692122762)"

In [3]:
# check for overview of the dataframe (Top 5)

data.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,6407111,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,...,10.0,46.0,14,1196638.0,1848800.0,2008,02/28/2018 03:56:25 PM,41.739980,-87.555120,"(41.739979622, -87.555120042)"
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,...,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
2,2,5488785,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,...,39.0,12.0,05,1146911.0,1941022.0,2007,02/28/2018 03:56:25 PM,41.994138,-87.734959,"(41.994137622, -87.734959049)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,...,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,...,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"

In [4]:
# check for overview of the dataframe (bottom 5)

data.tail()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
2278721,2278721,10716043,HZ474139,10/14/2016 02:35:00 PM,006XX N CLARK ST,0560,ASSAULT,SIMPLE,CONVENIENCE STORE,True,...,42.0,8.0,08A,1175423.0,1904617.0,2016,02/10/2018 03:50:01 PM,41.893647,-87.631177,"(41.893646656, -87.631177143)"
2278722,2278722,1740109,G546340,09/11/2001 10:20:00 PM,052XX W LAKE ST,0460,BATTERY,SIMPLE,RESIDENCE,False,...,NaN,NaN,08B,1141137.0,1902008.0,2001,08/17/2015 03:03:40 PM,41.887188,-87.757163,"(41.887188151, -87.757163155)"
2278723,2278723,4737434,HM342705,05/10/2006 07:49:00 PM,007XX E OAKWOOD BLVD,0560,ASSAULT,SIMPLE,APARTMENT,False,...,4.0,38.0,08A,1181989.0,1878827.0,2006,02/28/2018 03:56:25 PM,41.822727,-87.607863,"(41.82272748, -87.607863136)"
2278724,2278724,11122832,JA476827,10/18/2017 10:30:00 PM,002XX W ERIE ST,1360,CRIMINAL TRESPASS,TO VEHICLE,PARKING LOT/GARAGE(NON.RESID.),False,...,42.0,8.0,26,1174469.0,1904732.0,2017,02/10/2018 03:50:01 PM,41.893984,-87.634677,"(41.893983593, -87.634677382)"
2278725,2278725,3409804,HK420105,06/09/2004 08:19:28 PM,016XX N ROCKWELL ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,True,...,1.0,24.0,18,1158782.0,1910845.0,2004,02/28/2018 03:56:25 PM,41.911094,-87.692123,"(41.91109424, -87.692122762)"

In [5]:
# investigating the dataset by checking data info and  summary for the numerical variables

data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278726 entries, 0 to 2278725
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          float64
 18  Year                  int64
 19  Updated On            object
 20  Latitude              float64
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 369.4+ MB

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.278726e+06,2.278726e+06,2.278726e+06,2.278714e+06,2.094031e+06,2.094459e+06,2.254741e+06,2.254741e+06,2.278726e+06,2.254741e+06,2.254741e+06
mean,1.139362e+06,6.882068e+06,1.186442e+03,1.129072e+01,2.272764e+01,3.752140e+01,1.164569e+06,1.885747e+06,2.009638e+03,4.184209e+01,-8.767161e+01
std,6.578117e+05,3.419168e+06,7.026836e+02,6.946692e+00,1.383464e+01,2.153282e+01,1.673955e+04,3.209855e+04,6.019724e+00,8.830434e-02,6.073538e-02
min,0.000000e+00,6.370000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,5.696812e+05,3.716076e+06,6.210000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152948e+06,1.859053e+06,2.004000e+03,4.176866e+01,-8.771379e+01
50%,1.139362e+06,6.885990e+06,1.034000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166060e+06,1.890673e+06,2.009000e+03,4.185578e+01,-8.766597e+01
75%,1.709044e+06,9.887568e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176365e+06,1.909219e+06,2.014000e+03,4.190668e+01,-8.762823e+01
max,2.278725e+06,1.278199e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.022000e+03,4.202291e+01,-8.752453e+01

In [6]:
# check data summary for the numerical variables

data.describe(include='object')

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,FBI Code,Updated On,Location
count,2278725,2278726,2278726,2278726,2278726,2278726,2275849,2278726,2278726,2254741
unique,2278678,1343546,54347,392,35,515,198,26,4461,545376
top,HK172551,01/01/2008 12:01:00 AM,100XX W OHARE ST,0820,THEFT,SIMPLE,STREET,06,02/10/2018 03:50:01 PM,"(41.976290414, -87.905227221)"
freq,3,81,4878,184891,479375,268418,590957,479375,836558,4227

In [7]:
# check for the years in the dataframe

data['Year'].unique()

array([2008, 2018, 2007, 2021, 2001, 2006, 2014, 2010, 2016, 2011, 2004,
       2012, 2015, 2003, 2002, 2017, 2013, 2020, 2022, 2019, 2005, 2009])

### It shows that the dataset consist of crime records for the past 22 years. For this particular analyses, i'll be focusing on the past 10 years in order to create an accurate and relevant representation of the phenomenom. By this, I will also be able to identify any recent pattern or trend in the dataset.

In [8]:
# crop dataset to the past 10 years

df = data[data['Year'] > 2012]

df1 = df.copy()

In [9]:
# check for the years in the dataframe

df1['Year'].unique()

array([2018, 2021, 2014, 2016, 2015, 2017, 2013, 2020, 2022, 2019])

In [10]:
# View Dataframe
df1

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,...,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,...,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,...,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"
7,7,9876456,HX527438,12/02/2014 11:48:00 AM,043XX W POTOMAC AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,...,37.0,23.0,18,1147306.0,1908305.0,2014,02/10/2018 03:50:01 PM,41.904352,-87.734347,"(41.904351902, -87.734347128)"
9,9,10566046,HZ313634,06/18/2016 11:15:00 PM,021XX N CALIFORNIA AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,POLICE FACILITY/VEH PARKING LOT,True,...,35.0,22.0,18,1157345.0,1914452.0,2016,02/10/2018 03:50:01 PM,41.921021,-87.697304,"(41.921021491, -87.69730355)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278707,2278707,9225806,HW372748,07/21/2013 05:20:00 PM,003XX W CHICAGO AVE,0820,THEFT,$500 AND UNDER,GAS STATION,False,...,27.0,8.0,06,1173639.0,1905658.0,2013,02/10/2018 03:50:01 PM,41.896543,-87.637698,"(41.896543094, -87.637698101)"
2278713,2278713,11356972,JB319178,06/22/2018 09:30:00 PM,069XX S TALMAN AVE,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE-GARAGE,False,...,18.0,66.0,14,1159909.0,1858452.0,2018,06/29/2018 03:54:08 PM,41.767299,-87.689425,"(41.767298817, -87.689425475)"
2278717,2278717,10849223,JA153322,02/06/2017 08:00:00 PM,012XX E 72ND PL,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,VEHICLE NON-COMMERCIAL,False,...,5.0,69.0,07,1185692.0,1857187.0,2017,02/16/2017 03:47:17 PM,41.763259,-87.594960,"(41.763259007, -87.594960398)"
2278721,2278721,10716043,HZ474139,10/14/2016 02:35:00 PM,006XX N CLARK ST,0560,ASSAULT,SIMPLE,CONVENIENCE STORE,True,...,42.0,8.0,08A,1175423.0,1904617.0,2016,02/10/2018 03:50:01 PM,41.893647,-87.631177,"(41.893646656, -87.631177143)"
2278724,2278724,11122832,JA476827,10/18/2017 10:30:00 PM,002XX W ERIE ST,1360,CRIMINAL TRESPASS,TO VEHICLE,PARKING LOT/GARAGE(NON.RESID.),False,...,42.0,8.0,26,1174469.0,1904732.0,2017,02/10/2018 03:50:01 PM,41.893984,-87.634677,"(41.893983593, -87.634677382)"

In [11]:
# investigating the cropped dataset by checking data info and summary for the numerical variables

df1.info()
df1.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738191 entries, 1 to 2278724
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            738191 non-null  int64
 1   ID                    738191 non-null  int64
 2   Case Number           738191 non-null  object
 3   Date                  738191 non-null  object
 4   Block                 738191 non-null  object
 5   IUCR                  738191 non-null  object
 6   Primary Type          738191 non-null  object
 7   Description           738191 non-null  object
 8   Location Description  735634 non-null  object
 9   Arrest                738191 non-null  bool
 10  Domestic              738191 non-null  bool
 11  Beat                  738191 non-null  int64
 12  District              738191 non-null  float64
 13  Ward                  738172 non-null  float64
 14  Community Area        738191 non-null  float64
 15  FBI Code              738191 non-null  object
 16  X Coordinate          728415 non-null  float64
 17  Y Coordinate          728415 non-null  float64
 18  Year                  738191 non-null  int64
 19  Updated On            738191 non-null  object
 20  Latitude              728415 non-null  float64
 21  Longitude             728415 non-null  float64
 22  Location              728415 non-null  object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 125.3+ MB

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,7.381910e+05,7.381910e+05,738191.000000,738191.000000,738172.000000,738191.000000,7.284150e+05,7.284150e+05,738191.000000,728415.000000,728415.000000
mean,1.138784e+06,1.089291e+07,1144.545028,11.216617,23.073492,37.069321,1.164741e+06,1.885927e+06,2017.010688,41.842578,-87.670977
std,6.577275e+05,1.215575e+06,694.466139,6.937978,13.903230,21.437257,1.663475e+04,3.175962e+04,2.730965,0.087361,0.060447
min,1.000000e+00,2.074900e+04,111.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2013.000000,36.619446,-91.686566
25%,5.692805e+05,9.974572e+06,612.000000,6.000000,10.000000,23.000000,1.152944e+06,1.858766e+06,2015.000000,41.767870,-87.713797
50%,1.138041e+06,1.098215e+07,1024.000000,10.000000,24.000000,32.000000,1.166461e+06,1.892264e+06,2017.000000,41.860144,-87.664658
75%,1.708338e+06,1.183954e+07,1712.000000,17.000000,34.000000,55.000000,1.176490e+06,1.908667e+06,2019.000000,41.905098,-87.627842
max,2.278724e+06,1.278199e+07,2535.000000,31.000000,50.000000,77.000000,1.205119e+06,1.951535e+06,2022.000000,42.022671,-87.524529

### Data Cleaning

In [12]:
# data cleaning 
df1.isnull().sum()

Unnamed: 0                 0
ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    2557
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                      19
Community Area             0
FBI Code                   0
X Coordinate            9776
Y Coordinate            9776
Year                       0
Updated On                 0
Latitude                9776
Longitude               9776
Location                9776
dtype: int64

In [13]:
# drop redundant variable 

df1.drop(columns= ['Location','Ward','Beat','District','Community Area','FBI Code','Unnamed: 0','Case Number','X Coordinate','Y Coordinate','Updated On','Latitude','Longitude','IUCR'], inplace= True)

In [14]:
# Investigating the cropped dataframe after dropping redundant variables

df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738191 entries, 1 to 2278724
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    738191 non-null  int64
 1   Date                  738191 non-null  object
 2   Block                 738191 non-null  object
 3   Primary Type          738191 non-null  object
 4   Description           738191 non-null  object
 5   Location Description  735634 non-null  object
 6   Arrest                738191 non-null  bool
 7   Domestic              738191 non-null  bool
 8   Year                  738191 non-null  int64
dtypes: bool(2), int64(2), object(5)
memory usage: 46.5+ MB

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year
1,11398199,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,2018
3,11389116,07/23/2018 08:55:00 AM,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,2018
4,12420431,07/11/2021 06:40:00 AM,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,2021
7,9876456,12/02/2014 11:48:00 AM,043XX W POTOMAC AVE,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,False,2014
9,10566046,06/18/2016 11:15:00 PM,021XX N CALIFORNIA AVE,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,POLICE FACILITY/VEH PARKING LOT,True,False,2016

In [15]:
# fill null values in the location description 

df1['Location Description'].fillna('OTHERS', inplace= True)

In [16]:
# check dataframe information

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738191 entries, 1 to 2278724
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    738191 non-null  int64
 1   Date                  738191 non-null  object
 2   Block                 738191 non-null  object
 3   Primary Type          738191 non-null  object
 4   Description           738191 non-null  object
 5   Location Description  738191 non-null  object
 6   Arrest                738191 non-null  bool
 7   Domestic              738191 non-null  bool
 8   Year                  738191 non-null  int64
dtypes: bool(2), int64(2), object(5)
memory usage: 46.5+ MB

In [17]:
# created new column called time of the from the date timestamp

df1['time_of_day'] = df1['Date'].apply(lambda x: 'Morning' if 'AM' in str(x) else 'Evening')

In [18]:
# check cleaned dataframe information 

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738191 entries, 1 to 2278724
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    738191 non-null  int64
 1   Date                  738191 non-null  object
 2   Block                 738191 non-null  object
 3   Primary Type          738191 non-null  object
 4   Description           738191 non-null  object
 5   Location Description  738191 non-null  object
 6   Arrest                738191 non-null  bool
 7   Domestic              738191 non-null  bool
 8   Year                  738191 non-null  int64
 9   time_of_day           738191 non-null  object
dtypes: bool(2), int64(2), object(6)
memory usage: 52.1+ MB

In [19]:
# quick overview of the cleaned dataframe

df1.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,time_of_day
1,11398199,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,2018,Morning
3,11389116,07/23/2018 08:55:00 AM,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,2018,Morning
4,12420431,07/11/2021 06:40:00 AM,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,2021,Morning
7,9876456,12/02/2014 11:48:00 AM,043XX W POTOMAC AVE,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,False,2014,Morning
9,10566046,06/18/2016 11:15:00 PM,021XX N CALIFORNIA AVE,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,POLICE FACILITY/VEH PARKING LOT,True,False,2016,Evening

In [20]:
# write cleaned dataframe to a csv file

df1.to_csv("new_chicago_crime_data.csv", index=False)

### The next step is to extract and load the cleaned dataframe into looker studio for data visualisation and report